header {
    flex: 0 0 auto;
    display: flex;   
    box-sizing: border-box;
    border-bottom: var(--border);
    border-top: var(--border);
}

#toggle-tag-sidebar {
    background-image: url('../../images/left-arrow.png');
}

#toggle-file-sidebar {
    background-image: url('../../images/right-arrow.png');
}

#theme-toggle {
    background-image: url('../../images/theme.png');
}

#settings-button {
    background-image: url('../../images/settings.png');
}