header {
    display: flex;   
    box-sizing: border-box;
    border-bottom: var(--border);
    border-top: var(--border);
}

#toggle-tag-sidebar {
    background-image: url('../../images/left-arrow.png');
}

#toggle-file-sidebar {
    background-image: url('../../images/right-arrow.png');
}