#search-container {
    position: relative;
    display: flex;
    width: 40%;
    min-width: 400px;
    gap: 0.5rem;
}

#search-input {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    font-size: medium;
}

#search-button {
    background-image: url('../../images/search.png');
}