#left-sidebar-menu {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: var(--border);
    overflow: auto;
}

#tags-button {
    background-image: url('../../images/tag.png');
}

#location-button {
    background-image: url('../../images/directory.png');
}