#left-sidebar-menu {
    display: flex;
    justify-content: center;
    border-bottom: var(--border);
    border-top: var(--border);
    min-height: min-content;
}

#left-sidebar-menu button {
    width: 3em;
    height: 3em;
    margin: 5px; 
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

body.light-theme .menu-element.active {
    border: 1px solid blue;
    outline: 1px solid rgba(0, 0, 255, 0.5);
}

body.dark-theme .menu-element.active {
    border: 1px solid red;
    outline: 1px solid rgba(255, 0, 0, 0.5);
}

#theme-toggle {
    background-image: url('../../images/theme.png');
}

#tags-button {
    background-image: url('../../images/tag.png');
}

#location-button {
    background-image: url('../../images/directory.png');
}

#settings-button {
    background-image: url('../../images/settings.png');
}