#left-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: var(--border);
    border-bottom: var(--border);
}

.left-sidebar-item {
    overflow: hidden;
}

.left-sidebar-item.hidden {
    display: none !important;
}

#left-resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}