#left-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#tags-button {
    background-image: url('../../images/tag.png');
}

#location-button {
    background-image: url('../../images/directory.png');
}

#add-tag {
    margin: 5px;
    align-self: center;
    background-image: url('../../images/tag-add.png');
}

#add-location {
    margin: 5px;
    align-self: center;
    background-image: url('../../images/directory-add.png');
}

.left-sidebar-item {
    overflow: hidden;
}

.left-sidebar-item.hidden {
    display: none !important;
}

#left-resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#left-sidebar-menu {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: var(--border);
    overflow: auto;
}

#tags-panel,
#location-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    gap: 5px;
}

#tags-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px 0 10px 0; 
    border-top: var(--border);
}