#tags-panel{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#tags-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

#add-tag {
    margin: 5px;
    padding: 2px 0 2px 0;
}

#add-tag:hover {
    transform: none;
}