#tags{
    display: grid;
    grid-template-rows: auto 1fr;
    height: calc(100vh - 3em - 5px);
}

#tags-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

#tags {
    display: flex;
    flex-direction: column;
}

#add-tag {
    margin: 5px;
    padding: 2px 0 2px 0;
}

#add-tag:hover {
    transform: none;
}