#file-preview {
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#file-preview.hidden {
    display: none;
}

#file-preview img, #file-preview video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
