#file-info {
    flex: 0 0 auto;
    margin-bottom: 5px;
}

#fileinfo-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#fileinfo-container li {
    display: flex;
    padding-top: 10px;
    gap: 5px;
}

#fileinfo-container input {
    margin: 0 5px 0 5px;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    font-size: medium;
}

#file-id, #file-size, #file-creation-date {
    text-align: center;
}

#file-name-save {
    height: auto;
    background-image: url('../../../images/save-disk.png');
}
