#files-info {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border);
    overflow: auto;
}

#files-info > * {
    flex-shrink: 0;
}

#files-info span {
    margin: 5px;
    padding: 5px;
    border: var(--border);
    border-radius: 15px;
}

#sort-by-name {
    background-image: url('../../images/sort-up-az.png');
}

#parent-directory {
    background-image: url('../../images/directory-up.png');
}

#prev-button {
    background-image: url('../../images/back-arrow.png');
}

#next-button {
    background-image: url('../../images/next-arrow.png');
}

#prev-page {
    background-image: url('../../images/left-arrow.png');
}

#next-page {
    background-image: url('../../images/right-arrow.png');
}