#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    border-bottom: var(--border);
}

#pagination-controls label, select {
    margin: 5px;
}

#prev-directory {
    background-image: url('../../images/directory-up.png');
}

#prev-page {
    background-image: url('../../images/left-arrow.png');
}

#next-page {
    background-image: url('../../images/right-arrow.png');
}