#search-tags-container {
    width: 60%;
    min-width: 100px;
    padding-left: 5px;
    max-height: 50px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-tag {
    padding: 0 5px 0 5px;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: smaller;
    transition: var(--transition-normal);
    white-space: nowrap;
}

body.light-theme .search-tag:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

body.dark-theme .search-tag:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);
}
