:root {
    --light-bg: #f0f0f0;
    --light-text: black;
    --light-bg-bttn: lightgray;
    --dark-bg: #222;
    --dark-bg-bttn: #4e4e4e;
    --dark-text: white;
    --bg-bttn-hover: gray;
    --border: 1px solid rgb(128, 128, 128);
}

* {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
}

body.light-theme {
    background-color: var(--light-bg);
    color: var(--light-text);
}

body.dark-theme {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

#app {
    display: flex;
    height: 100vh;
}

button {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: var(--border);
    transition: background-color 0.5s ease, transform 0.3s ease;
    flex-shrink: 0;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0);
}

body.light-theme button {
    background-color: var(--light-bg-bttn);
    color: var(--light-text);
}

body.dark-theme button {
    background-color: var(--dark-bg-bttn);
    color: var(--dark-text);
}

body.light-theme button:hover {
    background-color: var(--bg-bttn-hover);
}

body.dark-theme button:hover {
    background-color: var(--bg-bttn-hover);
}

body button:disabled {
    cursor: not-allowed; 
    opacity: 0.3;
}

span, label {
    transition: 0.3s;
}

input {
    border: var(--border);
    transition:0.5s;
}

body.light-theme input {
    background: linear-gradient(135deg, #dadada, #bac7d3);
    color: var(--light-text);
}

body.dark-theme input {
    background: linear-gradient(135deg, #0f0f0f, #423838);
    color: var(--dark-text);
}

body input:disabled {
    background-color: #e0e0e0; 
    color: #616161;
    border: 1px solid #c0c0c0;
    cursor: not-allowed;
    opacity: 0.6;
}

.tags-view ul {
    margin-left: 10px;
}

.tags-view li {
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
    word-wrap: break-word;
    display: inline-table;
}

.parent-li {
    padding: 2px;
    border: 2px solid rgb(133, 133, 133);
}

.child-li {
    display: flex !important;
    flex-direction: column ;
}

body.light-theme .parent-li:hover {
    border: solid 2px rgba(0, 128, 255, 1);
}

body.dark-theme .parent-li:hover {
    border: solid 2px rgb(255, 128, 0);
}

.parent-li.expanded {
    border-top: dashed 2px transparent !important;
    border-right: dashed 2px transparent !important;
    border-bottom: dashed 2px transparent !important;
}

body.light-theme .parent-li.expanded:hover {
    border-left: solid 2px rgba(0, 128, 255, 1);
}

body.dark-theme .parent-li.expanded:hover {
    border-left: solid 2px rgba(255, 128, 0, 1);
}

.tag-label {
    display: block;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.tag-label:hover {
    animation: linearGradient 2s linear infinite;
}

@keyframes linearGradient {
    0% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: bottom left;
    }
    50% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: center center;
    }
    100% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: bottom right;
    }
}

.ico-bttn {
    width: 3em;
    height: 3em;
    margin: 5px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.8);
    color: var(--light-text);
}

.hidden {
    display: none;
}

body.light-theme .custom-swal-popup {
    background-color: var(--light-bg);
    color: var(--light-text);
}

body.dark-theme .custom-swal-popup {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.custom-swal-popup {
    border-radius: 10%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body.dark-theme ::-webkit-scrollbar-track {
    background: #2d3748;
}

body.light-theme ::-webkit-scrollbar-track {
    background: #d4dadf;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

body.dark-theme ::-webkit-scrollbar-thumb {
    background: #4a5568;
    border: 2px solid #2d3748;
}

body.light-theme ::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border: 2px solid #b8b8b8;
}
  
body.dark-theme ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 128, 0);
}

body.light-theme ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 128, 255);
}