#tag-form-modal input {
    width: 100%;
}

#parent-tag-search-container {
    position: relative;
    display: flex;
    width: 100%;
}

#parent-name-suggestions {
    position: absolute;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 900;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

body.light-theme #parent-name-suggestions {
    background-color: var(--light-bg);
}

body.dark-theme #parent-name-suggestions {
    background-color: var(--dark-bg);
}

body.light-theme #parent-name-suggestions li:hover {
    background-color: var(--bg-bttn-hover);
}

body.dark-theme #parent-name-suggestions li:hover {
    background-color: var(--bg-bttn-hover);
}

#parent-name-suggestions li {
    padding: 8px;
    cursor: pointer;
}

#parent-name-suggestions div, #parent-tag div {
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
}

#parent-name-suggestions li span, #parent-tag span{
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 5px 0 5px 0;
}

#parent-name-suggestions li span.highlight, #parent-tag span.highlight {
    border-radius: 0;
    padding: 0;
}

#color,
#textcolor {
    border: none;
    background: none;
}