/* ========================================
   UTILITY CLASSES
   ======================================== */

.highlight {
    background-color: rgba(255, 255, 0, 0.8);
    color: var(--light-text);
}

.hidden {
    display: none;
}

.resize-handle {
    width: 2px;
    cursor: ew-resize;
    z-index: var(--z-resize);
    background-color: grey;
}

body.light-theme .resize-handle:hover {
    background-color: rgb(0, 128, 255) !important;
}

body.dark-theme .resize-handle:hover {
    background-color: rgb(255, 128, 0) !important;
}
