/* ========================================
   TAGS VIEW STYLES
   ======================================== */

.tags-view ul {
    margin-left: 10px;
}

.tags-view li {
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
    word-wrap: break-word;
    display: inline-grid;
}

.parent-li {
    padding: 2px;
    border: 2px solid rgb(133, 133, 133);
}

body.light-theme .parent-li:hover {
    border: solid 2px rgba(0, 128, 255, 1);
}

body.dark-theme .parent-li:hover {
    border: solid 2px rgb(255, 128, 0);
}

.parent-li.expanded {
    border-top: dashed 2px transparent !important;
    border-right: dashed 2px transparent !important;
    border-bottom: dashed 2px transparent !important;
}

body.light-theme .parent-li.expanded:hover {
    border-left: solid 2px rgba(0, 128, 255, 1);
}

body.dark-theme .parent-li.expanded:hover {
    border-left: solid 2px rgba(255, 128, 0, 1);
}

.tag-label {
    padding: 2px 5px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.tag-label:hover {
    animation: linearGradient 2s linear infinite;
}

@keyframes linearGradient {
    0% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: bottom left;
    }
    50% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: center center;
    }
    100% {
        background-image: linear-gradient(-45deg, transparent calc(100%/3), white, transparent calc(200%/3));
        background-size: 350% 100%;
        background-position: bottom right;
    }
}
