#content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#loading-bar-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--neutral-loading-bg);
    z-index: var(--z-loading-bar);
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: var(--accent-info);
    transition: width var(--animation-loading-bar);
}

#loading-bar-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-large);
}
