#left-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#left-sidebar-menu {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--spacing-xl);
    gap: var(--spacing-xl);
    border-bottom: var(--border);
    overflow: auto;
}

#left-resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
    z-index: var(--z-resize);
}
