#right-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#right-resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
    z-index: var(--z-resize);
}

.right-sidebar-item {
    overflow: hidden;
}

.right-sidebar-item.hidden {
    display: none !important;
}
