#file-tags-container {
    gap: 10px; 
    margin: 5px;
    overflow-x: auto;
    max-height: 250px;
    white-space: nowrap;
} 

#file-tags-container .root-li ul {
    white-space: wrap;
} 

#file-tags-container .parent-li:not(.root-li) ul {
    white-space: wrap;
    max-width: 300px;
}

/* .child-li {
    display: flex !important;
    flex-direction: column ;
} */