#right-sidebar-menu {
    display: flex;
    justify-content: center;
    border-bottom: var(--border);
    border-top: var(--border);
}

#show-file-tags {
    background-image: url('../../images/tag.png');
}

#show-file-info {
    background-image: url('../../images/info.png');
}

body.light-theme #right-sidebar-menu button.active {
    border: 2px solid rgb(0, 128, 255);
}

body.dark-theme #right-sidebar-menu button.active {
    border: 2px solid rgb(255, 128, 0);
}