#right-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.right-sidebar-item {
    overflow: hidden;
}

.right-sidebar-item.hidden {
    display:none !important;
}

#right-resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}